<!DOCTYPE html>
<html ng-app="example">
<title>Example Angular Front End</title>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script type="text/javascript" src="angular-frontend-example-app.js"></script>

<div class="container" ng-controller="ExampleController as example">
    <div class="alert alert-{{message.type}}" role="alert">
        {{message.data}}
    </div>

    <h1>Todos</h1>

    <div class="container" ng-repeat="todo in todos">

        <a href="#" ng-class="line-through"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> DoThis -> {{todo.todo}} </a>
    </div>
</div>

</body>
</html>